<footer class="footer">
  <img class="" src="/images/footer_logo.svg" alt="" aria-hidden="true" />
  <div>
    <img class="" src="/images/line_icon.svg" alt="" aria-hidden="true" />
    <img class="" src="/images/wecaht_icon.svg" alt="" aria-hidden="true" />
    <p>歡迎隨時諮詢。</p>
  </div>
  <nav class="header_nav">
    <ul class="header_nav_list">
      <li class="header_nav_item"><a href="##">治療案例</a></li>
      <li class="header_nav_item"><a href="##">本院的治療方針</a></li>
      <li class="header_nav_item"><a href="##">診療內容</a></li>
      <li class="header_nav_item"><a href="##">就診流程</a></li>
      <li class="header_nav_item"><a href="##">治療費用</a></li>
      <li class="header_nav_item"><a href="##">醫師介紹</a></li>
      <li class="header_nav_item"><a href="##">來院方式</a></li>
    </ul>
  </nav>

  <div>
    <div>
      <img class="" src="/images/card_icon.svg" alt="" aria-hidden="true" />
      <p>歡迎隨時諮詢</p>
      <p>支付方式：信用卡（VISA・MASTER）</p>

    </div>
    <p>©2025 CHUKYO SPINE CLINIC,lnc.</p>

  </div>
</footer>