<%
const pick = (obj) => {
    if (!obj) return '';
    if (typeof obj === 'string') return obj;
    return obj[lang] || obj.ja || obj.en || Object.values(obj)[0] || '';
};
const headerData = site.header || {};
const navItems = headerData.navItems || [];
%>
<header class="header">
    <div class="header_inner">
        <h1 class="header_logo">
            <a href="/">
                <img src="/images/logo.svg" alt="<%= pick(headerData.logoAlt) %>" />
            </a>
        </h1>
        <nav class="header_nav">
            <ul class="header_nav_list">
                <% navItems.forEach(function(item) { %>
                    <li class="header_nav_item"><a href="##"><%= pick(item.label) %></a></li>
                <% }) %>
            </ul>
        </nav>
        <%- include('./language-switcher', { lang }) %>
    </div>
</header>
