<input type="checkbox" id="wechat-modal" class="modal-toggle" />
<div class="modal wechat-modal" aria-hidden="true" role="dialog" aria-modal="true">
  <label for="wechat-modal" class="modal-bg" aria-label="Close"></label>
  <div class="modal-content">
    <label for="wechat-modal" class="close-btn" aria-label="Close">x</label>
    <img src="./images/Wechat_QR.JPG" alt="WeChat QR" />
  </div>
</div>


