@use "variables" as *;
@use "mixins" as *;
html {
    // scroll-behavior: smooth!important;
    margin: 0 !important;
    padding: 0;
    font-size: 10px !important;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    position: relative;
    background-color: $color3;
    color: $color2;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    line-height: 1.4;
    overflow-x: hidden;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-style: normal;
}

main {
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

// レイアウト
.page-width {
    max-width: 1384px;
    padding: 0 24px;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

section {
    padding: 60px 0;
    @include md {
        padding: 40px 0;
    }
    &:first-of-type {
        padding: 196px 0;
        @include lg {
            padding: 80px 0 80px 0;
        }
    }
}

// 中央見出し
.medium_title {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    @include lg {
        font-size: 3.2rem;
        margin-bottom: 24px;
    }
}

// 黄色背景資格アイコン
.back_icon {
    background-color: $color11;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include lg {
        width: 80px;
        height: 80px;
    }
    @include md {
        width: 64px;
        height: 64px;
    }
    img {
        @include md {
        max-width: 24px;
        width: 100%;
        }
    }
}

// 上記を使用した見出し
.icon_title_wrap {
    display: flex;
    gap: 16px;
    align-items: center;
    .icon_title_text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include md {
            gap: 8px;
        }
        h3 {
            font-size: 4rem;
            font-weight: 500;
            @include lg {
                font-size: 3.2rem;
            }
        }
        .icon_subtitle {
            font-weight: 600;
            color: $color10;
        }
    }
}

// 番号付き見出し
.number_title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    @include lg {
        margin-bottom: 32px;
        gap: 8px;
    }
    img {
        display: block;
    }
    .num_img {
        margin-right: 32px;
        @include lg {
            margin-right: 16px;
            max-width: 80px;
            width: 100%;
        }
        @include sp {
            margin-right: 8px;
        }
    }
    p {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.05em;
        @include lg {
            font-size: 2.4rem;
        }
    }
}