@use "variables" as *;
@use "mixins" as *;

html {
    // scroll-behavior: smooth!important;
    margin: 0 !important;
    padding: 0;
    font-size: 10px !important;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    position: relative;
    background-color: $color3;
    color: $color2;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    line-height: 1.4;
    font-family: "Noto Sans TC", "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

// レイアウト
.page-width {
    max-width: 1340px;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

section {
    padding: 60px 0;

    &:first-of-type {
        padding: 120px 0 60px 0;
    }
}

// 中央見出し
.medium_title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

// 黄色背景資格アイコン
.back_icon {
    background-color: $color4;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// 上記を使用した見出し
.icon_title_wrap {
    display: flex;
    gap: 16px;
    align-items: center;

    .icon_title_text {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 4rem;
            font-weight: 500;
        }

        .icon_subtitle {
            font-weight: 600;
            color: $color4;
        }
    }
}

// 番号付き見出し
.number_title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;

    img {
        display: block;
    }

    .num_img {
        margin-right: 32px;

    }

    p {
        font-size: 4rem;
        font-weight: 500;
    }
}