@use "variables" as *;
@use "mixins" as *;
footer {
    padding: 64px 80px;
    @include md {
        padding: 64px 24px;
    }
    .footer_logo {
        margin: 0 auto;
        margin-bottom: 64px;
        @include md {
            margin-bottom: 40px;
        }
    }
    .footer_cta {
        .footer_social_icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;
        }
        .footer_cta_text {
            font-size: 1.4rem;
            color: $color2;
            text-align: center;
            margin-bottom: 80px;
            @include md {
                margin-bottom: 40px;
            }
        }
    }
    .footer_nav {
        padding-bottom: 48px;
        border-bottom: 1px solid $color5;
        margin-bottom: 24px;
        .footer_nav_list {
            display: flex;
            gap: 16px;
            justify-content: space-between;
            @include lg {
                flex-direction: column;
                align-items: center;
            }
            .footer_nav_item {
                a {
                    font-size: 2rem;
                }
            }
        }
    }
    .footer_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        @include md {
            flex-wrap: wrap;
        }
        .footer_payment {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 1.2rem;
            color: $color2;
            .payment_title {
                font-weight: 500;
                display: inline-block;
                margin-right: 16px;
            }
        }
        .footer_copyright {
            font-family: "arial", sans-serif;
            font-size: 1.4rem;
            color: $color9;
        }
    }
}