@use "variables"as *;
.header {
    padding: 48px 80px;
    color: $color2;
}

.header_inner {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_logo {
    margin: 0;
    flex-shrink: 0;
    img {
        display: block;
        max-width: 211px;
        height: auto;
    }
}

.header_nav {
    flex: 1;
}

.header_nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header_nav_item a {
    color: $color2;
    text-decoration: none;
    font-size: 2rem;
}

.lang-switcher {
    margin-left: auto;
}