@use "variables"as *;
@use "mixins" as *;
.lang-switcher {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.lang-switcher_label {
    font-size: 12px;
    color: $color2;
}

.lang-switcher_box {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 8px 0;
    color: $color2;
    border-bottom: 1px solid $color2;
    width: 97px;
    min-width: 97px;
    @include md {
        padding: 0 0 4px 0;
        gap: 8px;
        width: 60px;
        min-width: 60px;
    }
    .lang-switcher_wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        @include md {
            font-size: 1rem;
            gap: 8px;
        }
    }
}

.lang-switcher_icon,
.lang-switcher_arrow {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    @include md {
        width: 12px;
        height: 13px;
    }
}

.lang-switcher_arrow {
    margin-left: auto;
}

.lang-switcher_value {
    flex: 1;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.08em;
    font-family: "kozuka-gothic-pr6n", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lang-switcher_select {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.lang-switcher_select option {
    color: $color3;
    background: $color2;
}