.modal-toggle {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 2000;
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 300px;
  min-width: 300px;
  text-align: right;
}

.modal-open-btn,
.close-btn {
  display: inline-block;
  padding: 8px 16px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  margin-left: auto;
  cursor: pointer;
}

.modal-toggle:checked + .modal {
  opacity: 1;
  pointer-events: auto;
}

.wechat-btn button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.wechat-btn img {
  width: 40px;
  height: auto;
}

body.modal-open {
  overflow: hidden;
}
