//color
$color1: #303030;
$color2: #ffffff;
$color3 :#0B143F;
$color4: #B69863;
$color5: #333F69;
$color6: #DFD3C6;
$color7 :#212d49;
$color8: #EEEEEE;
$color9: #A5ADBE;
$color10: #BFB592;
$color11 :#A4945E;
$color12: #11244F;
//break point
$break-point_xxl: 1500px;
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point_md: 768px;
$break-point_sp: 540px;
$break-point_xs: 375px;