//color
$color1: #303030;
$color2: #ffffff;

//break point
$break-point_xxl: 1500px;
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point_md: 768px;
$break-point_sp: 540px;
$break-point_xs: 375px;