// Import variables and mixins
@use "reset";
@use "variables" as *;
@use "mixins" as *;
@use "base" as *;
@use "language-switcher" as *;
@use "header" as *;

main {}

footer {
    padding: 16px;
    background-color: $color1;
    color: $color2;
    text-align: center;
}